@media (prefers-color-scheme: dark) {
    html {
        --background: #121212;
        --primary: #ffdd67;
        --primaryShadow: #ffcc1b;
        --secondary: #ff5a79;
        --secondaryShadow: #f3002e;
        --textInPrimary: #000;
        --textInSecondary: #fff;
        --footerBackground: #00e5ff;
        --cardBackground: #2b2b2b;
        --cardText: #fff;
        --emojiCodeText: #fff;
        --cardShadow: none;
        --notificationText: #fff;
        --notificationShadow: rgba(0, 0, 0, 0.05);
        --notificationEmojiCodeColor: rgba(0, 0, 0, 0.85);
        --menuBackground: #ff5a79;
        --carbonAdBadgeBackground: #2b2b2b;
    }
    .card:hover {
        box-shadow: none;
        background-color: #3b3b3b;
    }
}

@media (prefers-color-scheme: light) {
    html {
        --background: #fff;
        --primary: #ffdd67;
        --primaryShadow: #ffcc1b;
        --secondary: #ff5a79;
        --secondaryShadow: #f3002e;
        --textInPrimary: #000;
        --textInSecondary: #fff;
        --footerBackground: #00e5ff;
        --cardBackground: #fff;
        --cardText: #999;
        --emojiCodeText: #000;
        --cardShadow: rgba(168, 182, 191, 0.6);
        --notificationText: #fff;
        --notificationShadow: rgba(0, 0, 0, 0.05);
        --notificationEmojiCodeColor: rgba(0, 0, 0, 0.85);
        --menuBackground: #ff5a79;
        --carbonAdBadgeBackground: #f1f1f1;
    }
}
body,
html {
    background-color: var(--background);
    color: var(--cardText);
}

.card {
    background-color: var(--cardBackground);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 var(--cardShadow);
    flex: 1 1;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 10px 20px 0 var(--cardShadow);
    transform: translateY(-4px);
}
.card-text {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-body {
    text-align: center;
}
.form-control:focus {
    background-color: var(--cardBackground);
    color: var(--text);
    box-shadow: none;
}
.search {
    background-color: var(--cardBackground);
    color: var(--text);
    border-radius: 4px;
    border: 0;
    box-shadow: 0 2px 4px 0 var(--cardShadow);
    flex: 1 1;
    font-size: 1rem;
    padding: 1rem;
    margin-right: 1rem;
}
.img-badge {
    padding: 0.63em 0.75em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    fill: #fff;
}
svg {
    width: 15.5px;
    height: 15.5px;
    padding: 1px;
    overflow: visible;
}

svg,
span {
    vertical-align: middle;
    display: inline-block;
}
