@media (prefers-color-scheme: dark) {
    html {
        --background: #121212;
        --primary: #ffdd67;
        --primaryShadow: #ffcc1b;
        --secondary: #ff5a79;
        --secondaryShadow: #f3002e;
        --textInPrimary: #000;
        --textInSecondary: #fff;
        --footerBackground: #00e5ff;
        --cardBackground: #2b2b2b;
        --cardText: #fff;
        --emojiCodeText: #fff;
        --cardShadow: none;
        --notificationText: #fff;
        --notificationShadow: rgba(0, 0, 0, 0.05);
        --notificationEmojiCodeColor: rgba(0, 0, 0, 0.85);
        --menuBackground: #ff5a79;
        --carbonAdBadgeBackground: #2b2b2b;
    }
    .card:hover {
        box-shadow: none;
        background-color: #3b3b3b;
    }
}

body,
html {
    background-color: var(--background);
    color: var(--cardText);
}

.card {
    background-color: var(--cardBackground);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 var(--cardShadow);
    flex: 1 1;
    margin: 1em 0;
    /* transition: all 0.25s ease-out; */
    overflow: hidden;
	cursor: pointer;
}
.card:hover {
    box-shadow: 0 10px 20px 0 var(--cardShadow);
    transform: translateY(-1px);
}
.card-text {
    /* margin: 1em 0; */
	position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translate(-50%, -50%);
	font-weight: bold;
	/* font-weight: 500; */
    font-size: 1.25em;
}
.card-body {
    text-align: center;
}
.search {
    background-color: var(--cardBackground);
    color: var(--text);
    border-radius: 4px;
    border: 0;
    box-shadow: 0 2px 4px 0 var(--cardShadow);
    flex: 1 1;
    font-size: 1rem;
    padding: 1rem;
    margin-right: 1rem;
}
.img-badge {
    padding: 1em;
}
